<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

         <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

        <script>
			$(document).ready(function() {
				// SocketIO
				socket = io.connect(document.domain, {'reconnection': true, 'reconnectionDelay': 500,'maxReconnectionAttempts':Infinity});

				socket.on('connect', function() {
					socket.emit("initial game connection", "{{ game.get_id() }}");
				});

				socket.on('message for player', function(message) {
					$("#message-from-server").html(message);
					$('.modal').modal("show");

				});

				function playCard(cardId){
					socket.emit("play card", "{{ game.get_id() }}", cardId);
				}

				function sayUno(cardId){
					socket.emit("game message", "{{ game.get_id() }}", "Uno");
				}

				socket.on('card update', function(cards) {
                    console.log(cards);
                    //cards example:
                    //{
                    //    "your cards":
                    //        [
                    //            {
                    //                "card id": "blue_zero_card_124",
                    //                "card image url": "/static/cards/0_blue.png",
                    //                "can be played": true,
                    //                "pick a player": false,
                    //                "pick a card type": false
                    //            },
                    //            {
                    //                "card id": "fuck_you_card_8",
                    //                "card image url": "/static/cards/fuck_you.png",
                    //                "can be played": true,
                    //                "pick a player": true,
                    //                "pick a card type": false
                    //            }
                    //        ]
                    //    "cards on deck":
                    //        [
                    //            {
                    //                "card image url": "/static/cards/0_green.png"
                    //            },
                    //            {
                    //                "card image url": "/static/cards/1_green.png"
                    //            },
                    //            {
                    //                "card image url": "/static/cards/1_blue.png"
                    //            },
                    //        ]
                    //}

				});
				socket.on('player update', function(players) {
                    // players example:
                    // {
                    //   "Players":
                    //     [
                    //       {
                    //         "current turn": false,
                    //         "number of cards": 15,
                    //         "name": "Jeff"
                    //       },
                    //       {
                    //         "current turn": true,
                    //         "number of cards": 5,
                    //         "name": "Bob"
                    //       }
                    //     ],
                    //   "direction": "Left"
                    // }
				});
			});
        </script>

        <title>Game</title>
        <style>
            body {
                background-image: url("{{ url_for('static', filename='banner.jpg') }}");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                height: 100vh;
            }
            html, body {
                width: 100%;
                height: 100%;
                margin: 0px;
                border: 0;
                overflow: hidden; /*  Disable scrollbars */
                display: block;  /* No floating content on sides */
            }
            #loginPanel {
                top: 20vh;
            }
        </style>
    </head>
    <body>
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Message From Server</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="modal-body">
                            <p id="message-from-server">Modal body text goes here.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <canvas id="canvas">
        <script src="{{ url_for('static', filename='src/game.js')}}"></script>
    </canvas>
  </body>
</html>