<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ theme }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

    <script>
        socket = io.connect(document.domain, { 'reconnection': true, 'reconnectionDelay': 500, 'maxReconnectionAttempts': Infinity });

        $(document).ready(function () {

        });

    </script>
    <title>один</title>
    <style>
        #wrapper {
            top: 10vh;
            text-align: center;
        }

        .logo {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 10vh;
        }

        .body {
            text-align: left;
            margin-bottom: 3vh;
        }

        .compat-cell {
            background-color: #0f0;
        }

        .incompat-cell {
            background-color: #f00;
        }

        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0px;
            border: 0;
            display: block;
            /* No floating content on sides */
        }
    </style>
</head>

<body>
    <div class="col-sm-8 mx-auto" id="wrapper">
        <a href="/"><img class="logo" src="/static/logo.png" alt="logo"></a>

        <br />

        <div class="card body">
            <div class="card-body">
                <h4>Your Goal:</h4>
                <p>Be the first to remove all your cards.</p>
                <h4>Setup:</h4>
                <p>All players are dealt the same number of cards randomly from the deck.</p>
                <p>The first top card in the <strong>discard pile</strong> is chosen randomly.</p>
                <br>
                <h2>Playing Cards:</h2>
                <p>A card may only be played if it is <em>compatible</em> with the top card on the
                    <strong>discard pile</strong>. </p>
                <p>If you cannot play a card, you must pick up from the deck.</p>
                <br>
                <h4>Compatibility:</h4>
                <p><em>In general</em>, cards which share the same <strong>type</strong> <em>OR</em>
                    <strong>colour</strong> are compatible.</p>
                <h5>Colour compatibility:</h5>
                <p><strong>Red</strong>, <strong>blue</strong>, <strong>green</strong> or
                    <strong>yellow</strong> cards are the default colours with no special rules. </p>
                <p><strong>Black</strong> cards are wild cards and can be used with any of the four default
                    colours, but <em>NOT</em> <strong>purple </strong> cards.</p>
                <p><strong>White</strong> cards are also wild cards and can be used with the four default
                    colours <em>AND</em> <strong>purple</strong> cards.</p>
                <p>However, <strong>black</strong> and <strong>white</strong> cards are <em>NOT</em> compatibile
                    with eachother.</p>
                <p><strong>Orange</strong> cards are <em>NOT</em> compatible with both <strong>black</strong>
                    and <strong>white</strong> cards.</p>
                <p><strong>Rainbow</strong> cards are compatible with <em>ALL</em> cards.</p>

                <h5>Playing multiple cards:</h5>
                <p>You are allowed to play multiple cards on your turn.</p>
                <p><em>In general</em>, all cards played on your turn must be of the same <strong>type</strong>.
                </p>
                <p>The <em>last</em> card you played at the end of your turn will become the new top card in the
                    <strong>discard pile</strong>.</p>
                <br>
                <h4>Pickup Chains:</h4>
                <p>Some cards will start a <strong>pickup chain</strong> when played. Such as +2, +4 or +10 cards.
                </p>
                <p>During a pickup chain, only cards <em>compatible</em> with pickup chains may be played. Such as
                    other +2, +4 or +10 cards, reverse, skip, x2 cards, etc.</p>
                <p>A pickup chain has an associated <strong>value</strong> which increases as the pickup chain
                    progresses. This value is determined by the cards that are played.</p>
                <p>If a player cannot further the chain, they will be forced to <em>pickup</em> the pickup chain's
                    <strong>value</strong> from the deck.</p>
                <p>A chain may also end prematurely if someone uses a card that ends the chain. Such as a fuck you,
                    plus or pawn card. </p>


            </div>
        </div>
    </div>
</body>

</html>