<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

         <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <title>Waiting room</title>
        <style>
            body {
                background-image: url("{{ url_for('static', filename='banner.jpg') }}");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                height: 100vh;
            }
            #loginPanel {
                top: 20vh;
            }
        </style>
    </head>
    <body>
    <div class="col-sm-6 col-sm-offset-3" id="loginPanel">
        <div class="panel panel-default">
            <div class="panel-heading">
                Uno++
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                <br />
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Join Game</span>
                    <input id="game-id" type="text" class="form-control" placeholder="Game id e.g. '123-456'">
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-default" onclick="window.location.href = '/games/' + document.getElementById('game-id').value">Join</button>
                </div>
            </div>
            <div class="panel-footer">
                <a href="\new_game" class="btn btn-primary">Make New Game</a>
            </div>
        </div>
    </div>
  </body>
</html>