<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

         <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <title>один</title>
        <style>
            body {
                background-image: url("{{ url_for('static', filename='banner.jpg') }}");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                height: 100vh;
            }
            #loginPanel {
                top: 20vh;
            }
            .input-group button,input{
                display: inline-block;
            }

        </style>
    </head>
    <body>
    <div class="col-sm-6 col-sm-offset-3" id="loginPanel">
        <div class="panel panel-default">
            <div class="panel-heading">
                один
            </div>
            <div class="panel-body">
                <p>Join a game by entering the game ID below, or by creating a new game.</p>
                <br />
                <div class="input-group">
                    <input id="game-id" type="text" class="form-control" placeholder="Game id e.g. '12345'">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" onclick="window.location.href = '/' + document.getElementById('game-id').value">Join</button>
                    </span>
                </div>
            </div>
            <div class="panel-footer">
                <a href="\new_game" class="btn btn-primary">Make New Game</a>
            </div>
        </div>
    </div>
  </body>
</html>