<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

         <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

        <script>
            var GAME_ID = '{{ waiting_room.get_id() }}';
			$(document).ready(function() {
				// SocketIO
				socket = io.connect(location.host, {'reconnection': true, 'reconnectionDelay': 500,'maxReconnectionAttempts':Infinity});
				socket.on('connect', function() {
				    $("list-of-players").html("");
					socket.emit("waiting room message", GAME_ID, "join", null);
                });
                // debug message
				socket.on('message', function(data) {
					console.log(data);
                });
                // refresh
				socket.on('refresh', function(data) {
					location.reload(true);
                });
                // another player joined
				socket.on('user joined', function(name) {
				    let name_node = document.createElement("LI");
				    name_node.classList.add("list-group-item");
				    let text_node = document.createTextNode(name);
				    name_node.appendChild(text_node);
					document.getElementById("list-of-players").appendChild(name_node);
                });
                // a player left
                socket.on('user quit', function(name) {
                    let playerList = document.getElementById("list-of-players");
                    for(let node of playerList.getElementsByTagName("LI")) {
                        if(node.innerHTML == name) {
                            playerList.removeChild(node);
                            break;
                        }
                    }
                });
                // you left
                socket.on('quit', function() {
                    location.href = "/";
                });
                // change the number of cards
				$("#number-of-cards").change(function() {
				    theInput = document.getElementById("number-of-cards");
				    let num = parseInt(theInput.value);
				    if (num < 5) {
				        num = 5;
				    } else if (num > {{ settings.player_card_limit }}) {
				        num = {{ settings.player_card_limit }};
				    }
				    theInput.value = num;
				    socket.emit("waiting room message", GAME_ID, "setting change", ["number-of-cards", num]);
				});
				/*var justChangedCheckBox = false;
				$("#show-planning-pile").change(function() {
				    if (justChangedCheckBox) {
				        justChangedCheckBox = false;
				        return;
				    }
				    theInput = $("#show-planning-pile");
				    socket.emit("waiting room message", GAME_ID, "setting change", ["show-planning-pile", theInput.prop('checked')]);
				});*/
				socket.on('setting changed', function(data) {
				    if (data[0] == "number-of-cards") {
				        document.getElementById("number-of-cards").value = data[1];
				    } /*else if (data[0] == "show-planning-pile") {
				        checkBox = $("#show-planning-pile");
				        if (data[1] == true) {
				            justChangedCheckBox = true;
				            checkBox.bootstrapToggle("on");
				        } else if (data[1] == false) {
				            justChangedCheckBox = true;
				            checkBox.bootstrapToggle("off");
				        } else {
				            throw data[1] + " is not a valid state for show-planning-pile";
				        }
				    } */ else {
				        throw "No item called '" + data[0] + "' found";
				    }
				})
			});
        </script>

        <title>один</title>
        <style>
            body {
                background-color: #555;
            }
            #loginPanel {
                top: 20vh;
            }
        </style>
    </head>
    <body>
	<audio src="{{ url_for('static', filename='lobby.mp3') }}" autoplay loop>Your browser does not support audio</audio>

    <div class="col-sm-6 mx-auto" id="loginPanel">
        <div class="card">

            <div class="card-header">
                <button type="button" style="float:right; margin-top:5px;" class="btn btn-primary" onclick="socket.emit('waiting room message', GAME_ID, 'quit', null)">
                    Quit
                </button>
                <h2 style="text-align:center; margin-top:5px;">
                    ID: <strong>{{ waiting_room.get_id() }}</strong>
                </h2>
                <div class="input-group">
                    <input
                            type="text"
                            class="form-control input-lg"
                            name="game-link"
                            id="game-url"
                            value="{{ request.url }}"
                            readonly
                    >
                    <div class="input-group-append">
                        <button
                                type="submit"
                                class="btn btn-primary  input-lg"
                                onclick="document.getElementById('game-url').select(); document.execCommand('copy');"
                        >
                            copy
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4>Waiting players</h4>
                <ul id="list-of-players" class="list-group">

                </ul>
                <hr />
                <h4>Game Settings</h4>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="number-of-cards">Starting number of cards</label>
                            <span>
                                
                            </span>
                            <input class="form-control" id="number-of-cards" type="number" min="5" max="{{ settings.player_card_limit }}" step="1">
                        </div>
                        <!--
                        <div class="col-xs-4">
                            <label for="show-planning-pile">Show other players planning pile</label>
                            <input type="checkbox" checked data-toggle="toggle" id="show-planning-pile" >
                        </div>
                        
                        <div class="col-xs-4">
                            <label for="lock-settings">Lock settings</label>
                            <input type="checkbox" checked data-toggle="toggle" id="lock-settings" >
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary" onclick="socket.emit('waiting room message', GAME_ID, 'start', null)">
                    Start Game
                </button>
            </div>
        </div>
    </div>
  </body>
</html>